<!doctype html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{% set page_title = "Page or Website Title" %}
	<title>{{page_title}}</title>
	<!-- FONTS -->

	<!-- STYLES -->

	<!-- Compiled CSS libraries and frameworks -->
	<!-- <link rel="stylesheet" href="css/libs.min.css"> -->
	<!-- custom css -->
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<!-- <div class="preloader">
		<div class="preloader__inner"></div>
	</div> -->
	{% block content %} {% endblock %}
	<!-- Compiled JS libraries and frameworks -->
	<!-- <script src="js/libs.min.js"></script> -->
	<script src="js/main.js"></script>
</body>
</html>